*.aux
*.log
*.lof
*.lot
*.out
*.synctex.gz
*.toc

*.html~

Functional_Roles_of_Math_Symbols/Symbol_Table.html
Functional_Roles_of_Math_Symbols/Function_of_Math_Symbols_Errata.md

**/Drafts/*
**/node_modules/*

.DS_Store

**/.ipynb_checkpoints/*
*.code-workspace
