html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 1.2;
}
h2, h3, h4, h5, h6 {
	font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
}
h1 {
	text-align: center;
	font-variant: small-caps;
	font-size: xx-large;
	font-weight: bold;
	
	font-family: "Century Gothic", sans-serif;	
	line-height: 1;
}
h2 {
	text-align: center;
	font-size: x-large;
	font-weight: normal;
	margin-bottom: 2em;
}
h3 {
	border-top: 1px solid Black;
	font-size: large;
}
h4 {
	margin-bottom: 0em;
	margin-top: 1em;
}
h4 + div > h5:first-child {
	margin-top: 0.5em;
}
h5, h6 {
	font-weight: normal;
	margin-top: 0.75em;
}
h5 {
	margin-bottom: 0;
}
h4 + p, h5 + p, h5 ~ p:first-of-type {
	margin-top: 0;
}
h4 + ul {
	margin-top: 0;
}
h4 + blockquote {
	margin-top: 0.5em;
}
p {
	margin-bottom: 0;
}
p + p {
	text-indent: 1.0em;
	margin-top: 0.5em;
}
ul {
	list-style-type: none;
}
li:before {
  content: "\22A2";
  padding-right: 0.2em;
}
li > ul > li:before {
	content: "\22A8";
}
blockquote {
	quotes: "\201c" "\201d" "\2018" "\2019";
	background: #f9f9f9;
	border-left: 0.5em solid #ccc;
	margin: 1.5em 1.0em;
	padding: 0.5em;
}
blockquote blockquote {
	border-left: 0;
}
blockquote p:before {
	font-size: 300%;
	line-height: 0.1em;
	/*margin-left: 0.25em;*/
	vertical-align: -0.4em;
	content: open-quote;
}
blockquote p:after {
	font-size: 300%;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.45em;
	content: close-quote;
}
blockquote p {
	display: inline;
}
blockquote cite {
	text-align: right;
	display: block;
}
blockquote cite:before {
	content: "\2014";
}
.two-column {
	width: 100%;
}
.two-column h4 {
	text-align: center;
}
.two-column .first-two-column {
	float: left;
	max-width: 20.0em;
	margin-left: 2.0em;
	margin-right: 1.0em;
}
.two-column .second-two-column {
	float: left;
	max-width: 20.0em;
	margin-left: 1.0em;
	margin-right: 2.0em;
}
.two-column .header-two-column, .two-column .footer-two-column {
	clear: both;
}
table {
	border-collapse: collapse;
	table-layout: fixed;
}
table caption {
	font-size: smaller;
}
th, td {
	padding: 0 0.2em;
}
thead th {
	border-bottom: 1px solid black;
	text-align: center;
}
tbody th {
	border-right: 1px solid black;
	text-align: right;
}
tbody tr:nth-child(even) {
	background: White;
}
tbody tr:nth-child(odd) {
	background: WhiteSmoke;
}
#gradeDistribution {
	float: right;
	width: auto;
	margin: 0.0ex 3.0ex 0.0ex 1.0ex;
}
#gradeDistribution tr th {
//	text-align: left;
}
#gradeDistribution tr td {
	text-align: right;
}
#gradeScale {
	float: right;
	width: auto;
	margin: 0.0ex 3.0ex 0.0ex 1.0ex;
}
#gradeScale tr th {
	text-align: center;			
}
#gradeScale tr td {
	text-align: right;
}